VITE_PUBLIC_API_URL="https://alert-galoshes-tick.cyclic.app"
VITE_TEMP_USER_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2NTQ0Mjc0ZTlmYWJkNTkyOTU3YmJhZGMiLCJyb2xlIjoidXNlciIsImlhdCI6MTY5OTA1MDkxNiwiZXhwIjoxNjk5NjU1NzE2fQ.Fysp9UeSpXDI2oq1uqoNnmMMdKOQdYB6ndEd7vOcgwE"