# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Deploy
    
    runs-on: [self-hosted, frontend]

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout the code
      uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: Install project dependencies
      run: yarn
    
    - name: Create prod env file
      run: echo "$ENV_FILE" > .env
      env:
        ENV_FILE: ${{ secrets.ENV_FILE }}
      
    - name: Create production build 
      run: yarn run build
        
    - name: Copy files to deploy folder
      run: cp -r dist/* "$DEPLOY_FOLDER"
      env:
        DEPLOY_FOLDER: ${{ secrets.DEPLOY_FOLDER }}
